/*======================================*/
/*------------- TASK PAGE --------------*/
/*======================================*/
.task_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 60px 0;
  text-align: left;

  li {
    position: relative;
    width: calc(50% - 10px);
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--background);

    .task_check {
      position: absolute;
      top: 30px;
      left: 30px;
    }
    a {
      display: block;
      padding: 30px 30px 40px 60px;
    }
    p {
      font-weight: 500;
    }
    span {
      display: block;
      margin-top: 8px;
      font-size: 14px;
      color: var(--text-muted);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.4rem;
      max-height: 2.8rem;
    }

    &.no_data {
      text-align: center;
      border-bottom: 0;
      span {
        margin: 0;
        padding: 40px 0;
      }
    }
    &.observer_area {
      width: 100%;
      background-color: transparent;
      border: 0;
      padding: 0;
      & > div {
        min-height: 100px;
      }
    }
  }
}

.task_detail {
  position: relative;
  margin: 60px 0;
  padding: 30px 60px 30px 30px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: var(--background);
  text-align: left;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    min-height: 200px;
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-muted);
  }
  .del_btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      color: var(--hover);
    }
  }
}

.no_task_detail {
  margin: 60px 0;
  p {
    margin-bottom: 60px;
    font-size: 16px;
    color: var(--text-muted);
  }
}

.task_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: var(--disabled);
  font-size: 14px;
  color: var(--white);

  &.done {
    background-color: var(--success);
  }
}

/* 반응형 max 640px */
@media (max-width: 640px) {
  .task_list {
    gap: 16px;
    margin: 40px 0;
    li {
      width: 100%;
      .task_check {
        top: 20px;
        left: 20px;
      }
      a {
        padding: 20px 20px 28px 50px;
      }
    }
  }

  .task_detail {
    margin: 40px 0;
    padding: 20px 40px 20px 20px;
    .del_btn {
      padding: 0;
    }
  }
}
