/*======================================*/
/*----------- DEFAULT STYLES -----------*/
/*======================================*/
html,
body {
  -webkit-text-size-adjust: 100%;
  font-family: "Pretandard", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.01rem;
}
form {
  display: block;
}